<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      {{#if isUserActive}}
      <a href="/potatoes">Lista Patatas</a>
      <a href="/recipes">Lista Recetas</a>
      <a href="/user/{{this._id}}/favpotatoes">Patatas favs</a>
      <a href="/user/{{this._id}}/favrecipes">Recetas favs</a>
      <a href="">Mi perfil</a>
      <a href="">Carrito</a>
      <a href="">Salir</a>
      {{else}}
      <a href="/potatoes">Lista Patatas</a>
      <a href="/recipes">Lista Recetas</a>
      {{/if}}
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>