<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {{#if isUserActive}}
              <li class="nav-item">
                <a class="nav-link" href="/potatoes">Patata List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recipes">Recipes List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/{{localId}}/favpotatoes">Fav
                  Patata</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/{{localId}}/favrecipes">Fav
                  Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/profile">My Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">My Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/logout">Log Out</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/potatoes">Patata List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recipes">Recipes List</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>