<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      {{#if isUserActive}}
      <a href="/potatoes">Patata List</a>
      <a href="/recipes">Recipes List</a>
      <a href="/user/{{this._id}}/favpotatoes">Fav Patata</a>
      <a href="/user/{{this._id}}/favrecipes">Fav Recipes</a>
      <a href="">My Profile</a>
      <a href="">My Cart</a>
      <a href="">Log Out</a>
      {{else}}
      <a href="/potatoes">Patata List</a>
      <a href="/recipes">Recipes List</a>
      {{/if}}
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>