<h1>Your Favorite Potatoes</h1>

{{#if favPotatoes.length}}
  <ul class="potato-list">
    {{#each favPotatoes}}
      <li class="potato-card">
        <a href="/potatoes/{{this._id}}/details" class="card-link">
          <div class="card-content">
            <h2>{{this.name}}</h2>
            <form action="/user/addOrRemoveFavPotatoes/{{this._id}}" method="POST">
              <button>&#10084;</button>
            </form>
            <img src="{{this.img}}" alt="{{this.name}} Image" width="200" />
          </div>
        </a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>You haven't added any potatoes to your favorites yet.</p>
{{/if}}

<a href="/potatoes">Back to All Potatoes</a>