<div class="container mt-5 pt-5">
  <div class="title favs-title">
  <h1>Your Favorite Potatoes</h1>
  </div>

  {{#if favPotatoes.length}}
    <ul class="list-unstyled potato-list row">
      {{#each favPotatoes}}
        <li class="col-md-4 mb-4 potato-card">
          <a href="/potatoes/{{this._id}}/details" class="card-link">
            <div
              class="card d-flex justify-content-center align-items-center"
              style="width: 25rem;"
            >
              <h2 class="card-title pt-1">{{this.name}}</h2>
              <img
                src="{{this.img}}"
                width="400px"
                alt="{{this.name}} Image"
                class="card-img-top"
              />
              <div class="card-body">
                <form
                  action="/user/addOrRemoveFavPotatoes/{{this._id}}"
                  method="POST"
                  class="d-inline"
                >
                  <button
                    type="submit"
                    class="btn btn-outline-danger"
                  >&#10084;</button>
                </form>
              </div>
            </div>
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>You haven't added any potatoes to your favorites yet.</p>
  {{/if}}

  <a href="/potatoes" class="btn btn-link">Back to All Potatoes</a>
</div>