  <h1>Your Favorite Recipes</h1>

  {{#if favRecipes.length}}
    <ul>
      {{#each favRecipes}}
        <li>
          <h2>{{this.title}}</h2>
        <form action="/user/addOrRemoveFavRecipes/{{this._id}}" method="POST">
          <button>&#10084;</button>
        </form>
          <img src="{{this.img}}" alt="{{this.title}} Image" width="200" />
          <p>Ingredients: {{this.ingredients}}</p>


{{#if isGourmet}}
  <span>Cooking Time: {{recipe.time}}</span>
  <p>{{recipe.instructions}}</p>
  
{{/if}}

{{#if isAdmin}}
  <span>Cooking Time: {{recipe.time}}</span>
  <p>{{recipe.instructions}}</p>
  <a href="/recipes/{{recipe._id}}/edit">
    <button>Edit</button>
  </a>

  <form action="/recipes/{{recipe._id}}/delete" method="POST">
    <button>Delete</button>
  </form>
{{/if}}

{{#if isOwner}}
    <span>Cooking Time: {{recipe.time}}</span>
    <p>{{recipe.instructions}}</p>
    <a href="/recipes/{{recipe._id}}/edit">
      <button>Edit</button>
    </a>

    <form action="/recipes/{{recipe._id}}/delete" method="POST">
      <button>Delete</button>
    </form>
{{/if}}

      {{/each}}
    </ul>
  {{else}}
    <p>You haven't added any recipes to your favorites yet.</p>
  {{/if}}

<a href="/recipes">Back to All Potatoes</a>

<script>
  const favoriteForms = document.querySelectorAll(".favorite-form");

  favoriteForms.forEach(form => {
    form.addEventListener("submit", async event => {
      event.preventDefault();

      const recipeId = form.getAttribute("data-recipe-id");

      try {
        const response = await fetch(`/recipes/addOrRemoveFavoriteRecipe/${recipeId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ recipeId })
        });

        if (response.ok) {

        } else {
          console.error("Error adding/removing favorite recipe");
        }
      } catch (error) {
        console.error("Fetch error:", error);
      }
    });
  });
</script>




