<div class="container mt-5">
  <h1>{{potato.name}} Details</h1>
  <div class="row">
    <div class="col-md-6">
      <img
        src="{{potato.img}}"
        alt="{{potato.name}} Image"
        class="img-fluid"
        width="400px"
      />
    </div>
    <div class="col-md-6">
      <p><strong>Origin:</strong> {{potato.origin}}</p>
      <p><strong>Details:</strong></p>
      <p>{{potato.details}}</p>

      {{#if isAdmin}}
        <div class="mt-3">
          <a href="/potatoes/{{potato._id}}/edit" class="btn btn-primary"><button>Edit</button></a>
          <form action="/potatoes/{{potato._id}}/delete" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      {{/if}}
    </div>
    </div>
  </div>