<div class="container mt-5 pt-5">
  <div class="title">
    <h1>Potatoes</h1>
  </div>
    <ul class="list-unstyled potato-list row">
      {{#each potatoes}}
        <li class="col-md-4 mb-4 potato-card">
          <a href="/potatoes/{{this._id}}/details" class="card-link">
            <div class="card d-flex justify-content-center align-items-center" style="width: 20rem;">
              <h2 style="color: black;" class="card-title d-flex justify-content-center pt-1">{{this.name}}</h2>
              <img src="{{this.img}}" alt="{{this.name}} Image" width="400px" height="230px" class="card-img-top">
              <div class="card-body">
                <form style="display: inline;" class="favorite-form" data-potato-id="{{this._id}}">
                  <button class="btn btn-outline-danger">&#10084;</button>
                </form>
                <a href="#" class="btn btn-primary add-to-cart-button">Add to Cart</a>
              </div>
            </div>
          </a>
        </li>
      {{/each}}
    </ul>
    {{#if isAdmin}}
    <a href="/potatoes/new-potato">
    <div class="btn btn-secondary fixed-button wobble" style="background-color: #00b7ff">
      <button style="background-color: #00b7ff; border:none"><span style="font-size:32.5px; font-weight: 700; color:white">+</span></button>
    </div>
  </a>
    {{/if}}
  </div>
<script>
  const favoriteForms = document.querySelectorAll(".favorite-form");

  favoriteForms.forEach(form => {
    form.addEventListener("submit", async event => {
      event.preventDefault();

      const potatoId = form.getAttribute("data-potato-id");

      try {
        const response = await fetch(`/potatoes/addOrRemoveFavoritePotato/${potatoId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ potatoId })
        });

        if (!response.ok) {
          console.error("Error adding/removing favorite potato");
        }
      } catch (error) {
        console.error("Fetch error:", error);
      }
    });
});
</script>