<h1>Check Potatoes</h1>
<ul class="potato-list">
  {{#each potatoes}}
    <li class="potato-card">
      <a href="/potatoes/{{this._id}}/details" class="card-link">
        <div class="card-content">
          <img width="400px" src="{{this.img}}" alt="{{this.name}} Image">
          <h2>
            {{this.name}}
            <form class="favorite-form" data-potato-id="{{this._id}}">
              <button>&#10084;</button>
            </form>
          </h2>
          <a href="#"><button class="add-to-cart-button">Add to Cart</button></a>
        </div>
      </a>
    </li>
  {{/each}}
</ul>
{{#if isAdmin}}
<button><a href="/potatoes/new-potato">Add new potato</a></button>
{{/if}}
<script>
  const favoriteForms = document.querySelectorAll(".favorite-form");

  favoriteForms.forEach(form => {
    form.addEventListener("submit", async event => {
      event.preventDefault();

      const potatoId = form.getAttribute("data-potato-id");

      try {
        const response = await fetch(`/potatoes/addOrRemoveFavoritePotato/${potatoId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ potatoId })
        });

        if (!response.ok) {
          console.error("Error adding/removing favorite potato");
        }
      } catch (error) {
        console.error("Fetch error:", error);
      }
    });
  });
</script>