<h1>{{potato.name}}</h1>
<img src="{{potato.img}}" alt="{{potato.name}} Image" width="200" />

<p>Origin: {{potato.origin}}</p>
<p>Details: 
<br>
{{potato.details}}</p>


{{#if isAdmin}}
<a href="/potatoes/{{potato._id}}/edit">
  <button>Edit</button>
</a>
<form action="/potatoes/{{potato._id}}/delete" method="POST">
  <button>Delete</button>
{{/if}}
</form>
