<div class="container mt-5">
  <h1>{{recipe.title}}</h1>
  <img
    src="{{recipe.img}}"
    width="400px"
    alt="{{recipe.title}} Image"
    class="img-fluid"
  />

  <p><strong>Ingredients:</strong> {{recipe.ingredients}}</p>

  <p><strong>Best Potatoes for this Recipe:</strong></p>
  <ul>
    {{#each recipe.potatoes}}
      <li>{{this.name}}</li>
    {{/each}}
  </ul>

  {{#if isAdmin}}
    <p><strong>Cooking Time:</strong> {{recipe.time}}</p>
    <p>{{recipe.instructions}}</p>
    <a href="/recipes/{{recipe._id}}/edit" class="btn btn-primary"><button>Edit</button></a>
    <form action="/recipes/{{recipe._id}}/delete" method="POST" class="d-inline">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {{else if isOwner}}
    <p><strong>Cooking Time:</strong> {{recipe.time}}</p>
    <p>{{recipe.instructions}}</p>
    <a href="/recipes/{{recipe._id}}/edit" class="btn btn-primary"><button>Edit</button></a>
    <form
      action="/recipes/{{recipe._id}}/delete"
      method="POST"
      class="d-inline"
    >
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {{else if isGourmet}}
    <p><strong>Cooking Time:</strong> {{recipe.time}}</p>
    <p>{{recipe.instructions}}</p>
  {{/if}}
</div>