<div class="container mt-5 pt-5">
  <div class="title recipe-title">
  <h1>Recipes</h1>
  </div>
  <div class="row">
    {{#each recipes}}
      <div class="col-md-4 mb-4">
        <a href="/recipes/{{this._id}}/details" class="card-link">
          <div class="card recipe-card-container">
            <img src="{{this.img}}" class="card-img-top img-fluid max-img-size" alt="{{this.title}} Image">
            <div class="card-body" style="height: 135px; position:relative">
              <h4 class="card-title">{{this.title}}</h4>
              <div class="d-flex justify-content-center" style="position: absolute; left:45%; bottom: 15px;">
                <form class="favorite-form" data-recipe-id="{{this._id}}">
                  <button class="btn btn-outline-danger">&#10084;</button>
                </form>
              </div>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
  <a href="/recipes/new-recipe">
    <div class="btn btn-secondary fixed-button wobble" style="background-color: #00b7ff">
      <button style="background-color: #00b7ff; border:none"><span style="font-size:32.5px; font-weight: 700; color:white">+</span></button>
    </div>
  </a>
</div>
<script>
  const favoriteForms = document.querySelectorAll(".favorite-form");

  favoriteForms.forEach(form => {
    form.addEventListener("submit", async event => {
      event.preventDefault();

      const recipeId = form.getAttribute("data-recipe-id");

      try {
        const response = await fetch(`/recipes/addOrRemoveFavoriteRecipe/${recipeId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ recipeId })
        });

        if (response.ok) {

        } else {
          console.error("Error adding/removing favorite recipe");
        }
      } catch (error) {
        console.error("Fetch error:", error);
      }
    });
});
</script>






