<div class="container mt-5">
  <h1>{{recipe.title}}</h1>
  <img
    src="{{recipe.img}}"
    width="400px"
    alt="{{recipe.title}} Image"
    class="img-fluid"
  />

  <p class="pt-5" style="font-size: large;"><strong>Ingredients:</strong> {{recipe.ingredients}}</p>

  <p style="font-size: large;"><strong>Best Potatoes for this Recipe:</strong></p>
  <ul style="font-size: large;">
    {{#each recipe.potatoes}}
      <a href="/potatoes/{{this._id}}/details"><li>{{this.name}}</li></a>
    {{/each}}
  </ul>

  {{#if isAdmin}}
    <p style="font-size: large;"><strong>Cooking Time:</strong> {{recipe.time}}</p>
    <p style="font-size: large;">{{recipe.instructions}}</p>
    <a href="/recipes/{{recipe._id}}/edit" class="btn btn-primary">Edit</a>
    <form action="/recipes/{{recipe._id}}/delete" method="POST" class="d-inline">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {{else if isOwner}}
    <p style="font-size: large;"><strong>Cooking Time:</strong> {{recipe.time}}</p>
    <p style="font-size: large;">{{recipe.instructions}}</p>
    <a href="/recipes/{{recipe._id}}/edit" class="btn btn-primary">Edit</a>
    <form
      action="/recipes/{{recipe._id}}/delete"
      method="POST"
      class="d-inline"
    >
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {{else if isGourmet}}
    <p style="font-size: large;"><strong>Cooking Time:</strong> {{recipe.time}}</p>
    <p style="font-size: large;">{{recipe.instructions}}</p>
  {{/if}}
</div>
