<h1>{{recipe.title}}</h1>
<img src="{{recipe.img}}" alt="{{recipe.title}} Image" width="200" />

<p>Ingredients: {{recipe.ingredients}}</p>

<p>Best potatoes for this recipe:</p>
<ul>
  {{#each recipe.potatoes}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>

{{#if isAdmin}}
  <p>Cooking Time: {{recipe.time}}</p>
  <p>{{recipe.instructions}}</p>
  <a href="/recipes/{{recipe._id}}/edit">
    <button>Edit</button>
  </a>
  <form action="/recipes/{{recipe._id}}/delete" method="POST">
    <button>Delete</button>
  </form>
{{else if isOwner}}
  <p>Cooking Time: {{recipe.time}}</p>
  <p>{{recipe.instructions}}</p>
  <a href="/recipes/{{recipe._id}}/edit">
    <button>Edit</button>
  </a>
  <form action="/recipes/{{recipe._id}}/delete" method="POST">
    <button>Delete</button>
  </form>
{{else if isGourmet}}
  <p>Cooking Time: {{recipe.time}}</p>
  <p>{{recipe.instructions}}</p>
{{/if}}