<h1>Check Recipes</h1>
<ul class="recipe-list">
  {{#each recipes}}
    <li class="recipe-card">
      <a href="/recipes/{{this._id}}/details" class="card-link">
        <div class="card-content">
          <img  width="400px" src="{{this.img}}" alt="{{this.title}} Image">
          <h2>
            {{this.title}}
            <a href="#" class="like-button" data-recipe-id="{{this._id}}">&#10084;</a>
          </h2>
          <button class="add-to-cart-button">Add to Cart</button>
        </div>
      </a>
    </li>
  {{/each}}
</ul>